# Sphinx build artifacts
docs/_build/
docs/generated/
docs/.doctrees/
docs/*.log
docs/.DS_Store
docs/.coverage

# Python artifacts
__pycache__/
*.out
*.py~
*.log
*.tmp
*.pyc
*.pyo
*.pyd
*.egg-info/
.gitignore~
.nfs*
build/
dist/

# VSCode or IDE settings
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db